{% extends "layout.html" %}
    {% block style %}
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='deletePin.css') }}">
    {% endblock %}
    {% block content %}
    <form action="" method="post">
        <div class="deletewrap h-100 d-flex justify-content-center">
            <div class="card w-50 delete-content border border-dark shadow p-3 mb-5 bg-white rounded">
                <p class="text-center">
                    <mark>
                        Use this pin 
                        <b class="m-20 h5">{{ pin }}</b>
                        to delete your event.
                    </mark> 
                    
                </p>
                <p>
                    Also the pin is sent your registered email id .
                </p>
                <p class="text-muted">
                    yourmailid@email.com
                </p>
                <hr class="hr hr-blurry">
                <div class="d-flex justify-content-around p-3">
                    <a href=liveEvents class="btn border border-dark">
                        Cancel
                    </a>
                    <button type="submit" class="btn btn-dark w-75">
                        Submit Event
                    </button>
                </div>
                
            </div>
        </div>
    </form>    
    {% endblock %}